# Project 9: Web Scraping, APIs & Wrappers (US Stocks)

## Web Scraping - the Dow Jones Constituents

In [1]:
import pandas as pd

In [2]:
pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")

[                                                   0  \
 0  Historical logarithmic graph of the DJIA from ...
 1                                         Foundation
 2                                           Operator
 3                                          Exchanges
 4                                     Trading symbol
 5                                       Constituents
 6                                               Type
 7                                         Market cap
 8                                   Weighting method
 9                                            Website

                                                    1
 0  Historical logarithmic graph of the DJIA from ...
 1  February 16, 1885; 136 years ago[1]May 26, 189...
 2                              S&P Dow Jones Indices
 3                      New York Stock ExchangeNASDAQ
 4                                  ^DJI$INDU.DJIDJIA
 5                                                 30
 6                                          Large cap
 7          US$10.84 trillion(as of July 30, 2021)[3]
 8                               Price-weighted index
 9  us.spindices.com/indices/equity/dow-jones-indu...  ,
                      Company Exchange Symbol                        Industry  \
 0                         3M     NYSE    MMM                    Conglomerate
 1           American Express     NYSE    AXP              Financial services
 2                      Amgen   NASDAQ   AMGN               Biopharmaceutical
 3                      Apple   NASDAQ   AAPL          Information technology
 4                     Boeing     NYSE     BA           Aerospace and defense
 5                Caterpillar     NYSE    CAT         Construction and Mining
 6                    Chevron     NYSE    CVX              Petroleum industry
 7              Cisco Systems   NASDAQ   CSCO          Information technology
 8                  Coca-Cola     NYSE     KO                      Soft Drink
 9                     Disney     NYSE    DIS  Broadcasting and entertainment
 10                       Dow     NYSE    DOW               Chemical industry
 11             Goldman Sachs     NYSE     GS              Financial services
 12                Home Depot     NYSE     HD                Home Improvement
 13                 Honeywell   NASDAQ    HON                    Conglomerate
 14                       IBM     NYSE    IBM          Information technology
 15                     Intel   NASDAQ   INTC          Semiconductor industry
 16         Johnson & Johnson     NYSE    JNJ         Pharmaceutical industry
 17            JPMorgan Chase     NYSE    JPM              Financial services
 18                McDonald's     NYSE    MCD                   Food industry
 19                     Merck     NYSE    MRK         Pharmaceutical industry
 20                 Microsoft   NASDAQ   MSFT          Information technology
 21                      Nike     NYSE    NKE                         Apparel
 22          Procter & Gamble     NYSE     PG      Fast-moving consumer goods
 23                Salesforce     NYSE    CRM          Information technology
 24                 Travelers     NYSE    TRV                       Insurance
 25              UnitedHealth     NYSE    UNH             Managed health care
 26                   Verizon     NYSE     VZ               Telecommunication
 27                      Visa     NYSE      V              Financial services
 28  Walgreens Boots Alliance   NASDAQ    WBA                       Retailing
 29                   Walmart     NYSE    WMT                       Retailing

     Date added                                  Notes Index weighting
 0   1976-08-09  As Minnesota Mining and Manufacturing           3.38%
 1   1982-08-30                                    NaN           3.29%
 2   2020-08-31                                    NaN           3.84%
 3   2015-03-19                                    NaN           2.76%
 4   1987-03-12                                    NaN           4.01%
 5   1991-05-06                                    NaN           3.73%
 6   2008-02-19          Also 1930-07-18 to 1999-11-01           2.07%
 7   2009-06-08                                    NaN           1.03%
 8   1987-03-12          Also 1932-05-26 to 1935-11-20           1.01%
 9   1991-05-06                                    NaN           3.18%
 10  2019-04-02                                    NaN           1.10%
 11  2013-09-20                                    NaN           7.65%
 12  1999-11-01                                    NaN           6.65%
 13  2020-08-31                                    NaN           4.12%
 14  1979-06-29          Also 1932-05-26 to 1939-03-04           2.64%
 15  1999-11-01                                    NaN           1.03%
 16  1997-03-17                                    NaN           3.04%
 17  1991-05-06                                    NaN           3.13%
 18  1985-10-30                                    NaN           4.51%
 19  1979-06-29                                    NaN           1.48%
 20  1999-11-01                                    NaN           5.72%
 21  2013-09-20                                    NaN           2.93%
 22  1932-05-26                                    NaN           2.61%
 23  2020-08-31                                    NaN           5.43%
 24  2009-06-08                                    NaN           2.89%
 25  2012-09-24                                    NaN           7.88%
 26  2004-04-08                                    NaN           0.97%
 27  2013-09-20                                    NaN           4.34%
 28  2018-06-26                                    NaN           0.89%
 29  1997-03-17                                    NaN           2.69%  ,
      Year  Closing value Change in points Change in percent
 0    1885          39.29            10.83             38.05
 1    1886          41.03             1.74              4.43
 2    1887          37.58            −3.45             −8.41
 3    1888          39.39             1.81              4.82
 4    1889          41.56             2.17              5.51
 ..    ...            ...              ...               ...
 131  2016       19762.60          2337.57             13.42
 132  2017       24719.22          4956.62             25.08
 133  2018       23327.46        −1,391.76             −5.63
 134  2019       28538.44          5210.98             22.34
 135  2020       30606.48          2068.04              7.25

 [136 rows x 4 columns],
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Dow Jon...,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteComponents of the Dow Jones Industrial Average  \
 0  3M American Express Amgen Apple Boeing Caterpi...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteComponents of the Dow Jones Industrial Average.1
 0  3M American Express Amgen Apple Boeing Caterpi...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ,
   vteMajor North and South American stock market indices  \
 0                                      United States
 1                                             Canada
 2                                             Mexico
 3                                           Colombia
 4                                             Brazil
 5                                              Chile
 6                                          Argentina
 7                                               Peru

   vteMajor North and South American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5             Índice de Precio Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index        ,
                                          vteNews Corp  \
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3                          National consumer products
 4                                 Enterprise products
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7                                       United States
 8                                      United Kingdom
 9                                           Australia
 10                                          Christian
 11                                             Canada
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14                                         Newspapers
 15                                       Metropolitan
 16                                           Regional
 17                                         Queensland
 18                                              Other
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21                                    NewsLocal (NSW)
 22                                     Messenger (SA)
 23                                        Quest (Qld)
 24                                           Victoria
 25                                         Television
 26                                          Magazines
 27                                              Other
 28                                     Formerholdings
 29  vteNews UKNewspapers The Times The Sunday Time...
 30                                         vteNews UK
 31                                         Newspapers
 32                                           Magazine
 33                                              Radio
 34                                         Television
 35                                       Other assets
 36      See also: 21st Century Fox · News Corporation

                                        vteNews Corp.1
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3   Barron's Financial News Investor's Business Da...
 4                Factiva S&P Dow Jones Indices (2.6%)
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7   Avon Caedmon Ecco Harper Harper Perennial I Ca...
 8   William Collins, Sons Collins Bartholomew The ...
 9                                   Angus & Robertson
 10  BibleGateway.com Thomas Nelson Women of Faith ...
 11           Harlequin Enterprises Love Inspired Mira
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14  Metropolitan The Australian The Daily Telegrap...
 15  The Australian The Daily Telegraph (Sydney) He...
 16  Queensland Balonne Beacon Bowen Independent Th...
 17  Balonne Beacon Bowen Independent The Cairns Po...
 18  The Coffs Coast Advocate The Daily Examiner Ge...
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21  Manly Daily North Shore Times Northern Distric...
 22  News Review Leader Standard Eastern Courier Ea...
 23                      South-West News Southern Star
 24                        Leader Community Newspapers
 25  Sky News Live Sky News Extra Sky News Weather ...
 26            Big League GQ Australia Vogue Australia
 27  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 28  Australian Associated Press (47%) ADS (Adelaid...
 29  vteNews UKNewspapers The Times The Sunday Time...
 30                                         vteNews UK
 31                 The Times The Sunday Times The Sun
 32                      The Times Literary Supplement
 33  Wireless Group Talkradio Talksport Times Radio...
 34                                             talkTV
 35  Move Realtor.com New York Post News America Ma...
 36      See also: 21st Century Fox · News Corporation  ,
        vteDow Jones & Company  \
 0  National consumer products
 1         Enterprise products

                             vteDow Jones & Company.1
 0  Barron's Financial News Investor's Business Da...
 1               Factiva S&P Dow Jones Indices (2.6%)  ,
   vteHarperCollins                                 vteHarperCollins.1
 0    United States  Avon Caedmon Ecco Harper Harper Perennial I Ca...
 1   United Kingdom  William Collins, Sons Collins Bartholomew The ...
 2        Australia                                  Angus & Robertson
 3        Christian  BibleGateway.com Thomas Nelson Women of Faith ...
 4           Canada           Harlequin Enterprises Love Inspired Mira,
                                vteNews Corp Australia  \
 0                                          Newspapers
 1                                        Metropolitan
 2                                            Regional
 3                                          Queensland
 4                                               Other
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7                                     NewsLocal (NSW)
 8                                      Messenger (SA)
 9                                         Quest (Qld)
 10                                           Victoria
 11                                         Television
 12                                          Magazines
 13                                              Other
 14                                     Formerholdings

                              vteNews Corp Australia.1
 0   Metropolitan The Australian The Daily Telegrap...
 1   The Australian The Daily Telegraph (Sydney) He...
 2   Queensland Balonne Beacon Bowen Independent Th...
 3   Balonne Beacon Bowen Independent The Cairns Po...
 4   The Coffs Coast Advocate The Daily Examiner Ge...
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7   Manly Daily North Shore Times Northern Distric...
 8   News Review Leader Standard Eastern Courier Ea...
 9                       South-West News Southern Star
 10                        Leader Community Newspapers
 11  Sky News Live Sky News Extra Sky News Weather ...
 12            Big League GQ Australia Vogue Australia
 13  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 14  Australian Associated Press (47%) ADS (Adelaid...  ,
                                                    0  \
 0                                       Metropolitan
 1                                           Regional
 2                                         Queensland
 3                                              Other
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6                                    NewsLocal (NSW)
 7                                     Messenger (SA)
 8                                        Quest (Qld)
 9                                           Victoria

                                                    1
 0  The Australian The Daily Telegraph (Sydney) He...
 1  Queensland Balonne Beacon Bowen Independent Th...
 2  Balonne Beacon Bowen Independent The Cairns Po...
 3  The Coffs Coast Advocate The Daily Examiner Ge...
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6  Manly Daily North Shore Times Northern Distric...
 7  News Review Leader Standard Eastern Courier Ea...
 8                      South-West News Southern Star
 9                        Leader Community Newspapers  ,
             0                                                  1
 0  Queensland  Balonne Beacon Bowen Independent The Cairns Po...
 1       Other  The Coffs Coast Advocate The Daily Examiner Ge...,
   vteNews Corp Australia community newspapers  \
 0                             NewsLocal (NSW)
 1                              Messenger (SA)
 2                                 Quest (Qld)
 3                                    Victoria

        vteNews Corp Australia community newspapers.1
 0  Manly Daily North Shore Times Northern Distric...
 1  News Review Leader Standard Eastern Courier Ea...
 2                      South-West News Southern Star
 3                        Leader Community Newspapers  ,
    vteNews UK                                       vteNews UK.1
 0  Newspapers                 The Times The Sunday Times The Sun
 1    Magazine                      The Times Literary Supplement
 2       Radio  Wireless Group Talkradio Talksport Times Radio...
 3  Television                                             talkTV]

In [3]:
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[1]

In [4]:
const

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.38%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.29%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,3.84%
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.76%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,4.01%
5,Caterpillar,NYSE,CAT,Construction and Mining,1991-05-06,NaN,3.73%
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.07%
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,NaN,1.03%
8,Coca-Cola,NYSE,KO,Soft Drink,1987-03-12,Also 1932-05-26 to 1935-11-20,1.01%
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,3.18%
10,Dow,NYSE,DOW,Chemical industry,2019-04-02,NaN,1.10%
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-20,NaN,7.65%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,6.65%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,NaN,4.12%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.64%
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,NaN,1.03%
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.04%
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,3.13%
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,4.51%
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.48%
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.72%
21,Nike,NYSE,NKE,Apparel,2013-09-20,NaN,2.93%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.61%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,5.43%
24,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,2.89%
25,UnitedHealth,NYSE,UNH,Managed health care,2012-09-24,NaN,7.88%
26,Verizon,NYSE,VZ,Telecommunication,2004-04-08,NaN,0.97%
27,Visa,NYSE,V,Financial services,2013-09-20,NaN,4.34%
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.89%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,2.69%

In [5]:
const = const.iloc[:, :5].copy()
const

,Company,Exchange,Symbol,Industry,Date added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
5,Caterpillar,NYSE,CAT,Construction and Mining,1991-05-06
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08
8,Coca-Cola,NYSE,KO,Soft Drink,1987-03-12
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
10,Dow,NYSE,DOW,Chemical industry,2019-04-02
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-20
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
18,McDonald's,NYSE,MCD,Food industry,1985-10-30
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
21,Nike,NYSE,NKE,Apparel,2013-09-20
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Travelers,NYSE,TRV,Insurance,2009-06-08
25,UnitedHealth,NYSE,UNH,Managed health care,2012-09-24
26,Verizon,NYSE,VZ,Telecommunication,2004-04-08
27,Visa,NYSE,V,Financial services,2013-09-20
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [15]:
const.rename(columns = {"Date added":"Date_Added"}, inplace = True)

In [16]:
const['Date_Added'] = pd.to_datetime(const['Date_Added'])

In [17]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

## Normalizing Unicode Strings and Getting the Ticker Symbols

In [18]:
import unicodedata

In [19]:
const.Symbol

0      MMM
1      AXP
2     AMGN
3     AAPL
4       BA
5      CAT
6      CVX
7     CSCO
8       KO
9      DIS
10     DOW
11      GS
12      HD
13     HON
14     IBM
15    INTC
16     JNJ
17     JPM
18     MCD
19     MRK
20    MSFT
21     NKE
22      PG
23     CRM
24     TRV
25     UNH
26      VZ
27       V
28     WBA
29     WMT
Name: Symbol, dtype: object

In [20]:
const.Symbol.to_list()

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

In [21]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [22]:
const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

0      MMM
1      AXP
2     AMGN
3     AAPL
4       BA
5      CAT
6      CVX
7     CSCO
8       KO
9      DIS
10     DOW
11      GS
12      HD
13     HON
14     IBM
15    INTC
16     JNJ
17     JPM
18     MCD
19     MRK
20    MSFT
21     NKE
22      PG
23     CRM
24     TRV
25     UNH
26      VZ
27       V
28     WBA
29     WMT
Name: Symbol, dtype: object

In [23]:
const.Symbol = const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

In [24]:
const.Symbol[0]

'MMM'

In [25]:
const["Ticker"] = const.Symbol.str.split(": ").apply(lambda x: x[-1])

In [26]:
const

,Company,Exchange,Symbol,Industry,Date_Added,Ticker
0,3M,NYSE,MMM,Conglomerate,1976-08-09,MMM
1,American Express,NYSE,AXP,Financial services,1982-08-30,AXP
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,AMGN
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,AAPL
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,BA
5,Caterpillar,NYSE,CAT,Construction and Mining,1991-05-06,CAT
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,CVX
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,CSCO
8,Coca-Cola,NYSE,KO,Soft Drink,1987-03-12,KO
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,DIS
10,Dow,NYSE,DOW,Chemical industry,2019-04-02,DOW
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-20,GS
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,HD
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,HON
14,IBM,NYSE,IBM,Information technology,1979-06-29,IBM
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,INTC
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,JNJ
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,JPM
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,MCD
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,MRK
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,MSFT
21,Nike,NYSE,NKE,Apparel,2013-09-20,NKE
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,PG
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,CRM
24,Travelers,NYSE,TRV,Insurance,2009-06-08,TRV
25,UnitedHealth,NYSE,UNH,Managed health care,2012-09-24,UNH
26,Verizon,NYSE,VZ,Telecommunication,2004-04-08,VZ
27,Visa,NYSE,V,Financial services,2013-09-20,V
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,WBA
29,Walmart,NYSE,WMT,Retailing,1997-03-17,WMT

In [27]:
ticker_list = const.Ticker.to_list()

In [28]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

In [29]:
const.to_csv("const.csv", index = False)

## Loading and Saving Historical Stock Prices

In [30]:
import pandas as pd
import yfinance as yf

In [31]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

In [32]:
prices = yf.download(ticker_list, start = "2007-01-01", end = "2020-03-31")

[*********************100%***********************]  30 of 30 completed

In [33]:
prices

            Adj Close                                                 \
                 AAPL        AMGN        AXP          BA         CAT
Date
2007-01-03   2.565972   52.892437  47.595963   64.405708   40.502399
2007-01-04   2.622925   55.158161  47.249008   64.665764   40.396450
2007-01-05   2.604246   55.289608  46.626060   64.391289   39.879902
2007-01-08   2.617107   54.848846  47.067642   64.239586   39.926262
2007-01-09   2.834510   55.111774  46.768009   63.560673   40.144794
...               ...         ...        ...         ...         ...
2020-03-24  60.960968  192.344818  81.907211  127.680000   97.039322
2020-03-25  60.625145  183.599274  87.871185  158.729996  100.228004
2020-03-26  63.815426  188.685028  90.911652  180.550003  105.810600
2020-03-27  61.173317  188.475876  86.467896  162.000000  100.965340
2020-03-30  62.919083  198.181519  87.968636  152.279999  106.969246

                                                                     ...  \
                   CRM       CSCO        CVX         DIS        DOW  ...
Date                                                                 ...
2007-01-03    9.017500  20.310003  39.947880   28.317095        NaN  ...
2007-01-04    9.470000  20.844669  39.559494   28.540649        NaN  ...
2007-01-05    9.880000  20.851994  39.711475   28.308817        NaN  ...
2007-01-08    9.982500  20.969181  40.218071   28.565491        NaN  ...
2007-01-09    9.990000  20.851994  39.756500   28.524092        NaN  ...
...                ...        ...        ...         ...        ...  ...
2020-03-24  153.639999  36.520958  60.544106   98.120003  26.028608  ...
2020-03-25  147.059998  35.641052  63.018627  100.730003  27.774818  ...
2020-03-26  154.729996  38.394329  69.486977  105.360001  27.134850  ...
2020-03-27  146.000000  36.729111  62.572853   96.400002  26.110893  ...
2020-03-30  149.850006  38.148319  65.456772   99.800003  26.193174  ...

              Volume                                                   \
                 MRK      MSFT       NKE        PG      TRV       UNH
Date
2007-01-03  15740226  76935100  17299200   9717900  3432800   8360300
2007-01-04  13115930  45774500  15085600   8711400  2068200   5152500
2007-01-05  11168431  44607200  14996800   9907900  2104600   6215700
2007-01-08   7384522  50220200  10109600  11068200  2440900   4344100
2007-01-09   9037114  44636600  15167200  10823800  1319500   5483900
...              ...       ...       ...       ...      ...       ...
2020-03-24  19901939  82516700  18849500  14625500  4293300   8894400
2020-03-25  18311494  75638200  27053200  13789100  4151400  10014000
2020-03-26  18052848  64568100  17200800  15796000  4610600   7517600
2020-03-27  12467218  57042300  14183400  16073100  3085400   4879500
2020-03-30  15803316  63420300  10960100  14571600  2733700   5329000


                     V        VZ       WBA       WMT
Date
2007-01-03         NaN  21445850   6294500  35687300
2007-01-04         NaN  19215860   3681800  17073000
2007-01-05         NaN  19047041   3680900  13556900
2007-01-08         NaN  20370917   4720800  16396400
2007-01-09         NaN  16281352   3792500  14643200
...                ...       ...       ...       ...
2020-03-24  24488300.0  40626900   9638400  14235000
2020-03-25  20619600.0  38551300  11040500  17762500
2020-03-26  17062900.0  32610900  11095700  19416900
2020-03-27  14950700.0  25363600   5898000  12053500
2020-03-30  15714500.0  20660200   7114900   9737500

[3333 rows x 180 columns]

In [34]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Columns: 180 entries, ('Adj Close', 'AAPL') to ('Volume', 'WMT')
dtypes: float64(152), int64(28)
memory usage: 4.6 MB

In [35]:
prices = prices.loc[:,"Close"].copy()

In [36]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3333 non-null   float64
 1   AMGN    3333 non-null   float64
 2   AXP     3333 non-null   float64
 3   BA      3333 non-null   float64
 4   CAT     3333 non-null   float64
 5   CRM     3333 non-null   float64
 6   CSCO    3333 non-null   float64
 7   CVX     3333 non-null   float64
 8   DIS     3333 non-null   float64
 9   DOW     260 non-null    float64
 10  GS      3333 non-null   float64
 11  HD      3333 non-null   float64
 12  HON     3333 non-null   float64
 13  IBM     3333 non-null   float64
 14  INTC    3333 non-null   float64
 15  JNJ     3333 non-null   float64
 16  JPM     3333 non-null   float64
 17  KO      3333 non-null   float64
 18  MCD     3333 non-null   float64
 19  MMM     3333 non-null   float64
 20  MRK     3333 non-null   float64
 21  MSFT    3333 non-null   float64
 22  NKE     3333 non-null   float64
 23  PG      3333 non-null   float64
 24  TRV     3333 non-null   float64
 25  UNH     3333 non-null   float64
 26  V       3029 non-null   float64
 27  VZ      3333 non-null   float64
 28  WBA     3333 non-null   float64
 29  WMT     3333 non-null   float64
dtypes: float64(30)
memory usage: 807.2 KB

In [37]:
prices

,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,DOW,...,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,2.992857,68.400002,60.360001,89.169998,61.160000,9.017500,27.730000,70.970001,33.738300,NaN,...,42.003819,29.860001,12.208750,64.540001,53.549999,52.570000,NaN,35.306732,46.070000,47.549999
2007-01-04,3.059286,71.330002,59.919998,89.529999,61.000000,9.470000,28.459999,70.279999,34.004654,NaN,...,43.043892,29.809999,12.333750,64.050003,53.099998,52.910000,NaN,35.502777,46.160000,47.779999
2007-01-05,3.037500,71.500000,59.130001,89.150002,60.220001,9.880000,28.469999,70.550003,33.728436,NaN,...,42.270992,29.639999,12.353750,63.500000,52.410000,52.549999,NaN,34.895969,45.500000,47.389999
2007-01-08,3.052500,70.930000,59.689999,88.940002,60.290001,9.982500,28.629999,71.449997,34.034248,NaN,...,42.261452,29.930000,12.316250,63.639999,52.020000,53.320000,NaN,34.363850,45.689999,47.000000
2007-01-09,3.306071,71.269997,59.310001,88.000000,60.619999,9.990000,28.469999,70.629997,33.984924,NaN,...,41.870228,29.959999,12.470000,63.480000,51.889999,52.680000,NaN,34.503880,45.930000,47.389999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-24,61.720001,202.339996,84.050003,127.680000,101.339996,153.639999,38.599998,66.550003,98.120003,28.469999,...,65.887405,148.339996,72.330002,103.269997,93.739998,219.800003,154.529999,49.990002,45.250000,115.029999
2020-03-25,61.380001,193.139999,90.169998,158.729996,104.669998,147.059998,37.669998,69.269997,100.730003,30.379999,...,65.095421,146.919998,79.010002,100.919998,92.180000,234.490005,161.779999,49.939999,41.439999,109.400002
2020-03-26,64.610001,198.490005,93.290001,180.550003,110.500000,154.729996,40.580002,76.379997,105.360001,29.680000,...,70.162216,156.110001,84.300003,107.379997,98.669998,255.389999,168.880005,53.540001,45.669998,109.820000
2020-03-27,61.935001,198.270004,88.730003,162.000000,105.440002,146.000000,38.820000,68.779999,96.400002,28.559999,...,68.444656,149.699997,83.230003,110.169998,99.949997,242.449997,161.559998,52.770000,44.000000,109.580002
2020-03-30,63.702499,208.479996,90.269997,152.279999,111.709999,149.850006,40.320000,71.949997,99.800003,28.650000,...,73.425575,160.229996,85.379997,115.000000,102.589996,251.279999,165.570007,54.770000,45.160000,115.190002

In [38]:
prices.to_csv("const_prices.csv")

In [39]:
dji = yf.download("^DJI", start = "2007-01-01",  end = "2020-03-31")

[*********************100%***********************]  1 of 1 completed

In [40]:
dji

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-01-03,12459.540039,12580.349609,12404.820312,12474.519531,12474.519531,327200000
2007-01-04,12473.160156,12510.410156,12403.860352,12480.690430,12480.690430,259060000
2007-01-05,12480.049805,12480.129883,12365.410156,12398.009766,12398.009766,235220000
2007-01-08,12392.009766,12445.919922,12337.370117,12423.490234,12423.490234,223500000
2007-01-09,12424.769531,12466.429688,12369.169922,12416.599609,12416.599609,225190000
...,...,...,...,...,...,...
2020-03-24,19722.189453,20737.699219,19649.250000,20704.910156,20704.910156,799340000
2020-03-25,21050.339844,22019.929688,20538.339844,21200.550781,21200.550781,796320000
2020-03-26,21468.380859,22595.060547,21427.099609,22552.169922,22552.169922,705180000
2020-03-27,21898.470703,22327.570312,21469.269531,21636.779297,21636.779297,588830000
2020-03-30,21678.220703,22378.089844,21522.080078,22327.480469,22327.480469,545540000

In [ ]:
dji.to_csv("dji.csv")